@import 'variables';
@import 'card';
@import 'article';
@import 'buttons';
@import 'form';
@import 'flash';

* {
    margin: 0px;
    padding: 0px;
};
    
body {
    background-color: $base-bg-color;
    font-size: 1em;
    font-family: $font-family;
    color: $text-base-color;
};

a {
  text-decoration: none;
  color: $text-base-color;
};

.container {
  width: 100%;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}


header {
    background-color: $primary-color;
    margin-bottom: 10px;
    display: flex;
};

footer {
    width: 100%;
    background-color: $primary-color;
    text-align: center;
};

.title {
    font-size: 40px;
    text-align: center;
};

.subtitle {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
};

.search_container{
    box-sizing: border-box;
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;

  .search_container input[type="text"]{
    border: 1px solid #999;
    padding: 6px 5px;
    border-radius: 20px;
    height: 2.0em;
    width: 70%;
  };

  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.2em;
    border: 1px solid #999;
    border-radius: 15px;
    background: white;
    color: black;
    padding: 5px 10px;
    outline : none;
    display: inline-block;
    vertical-align: middle;
  };

  .search {
    margin: 5px;
  };

  .post {
    margin: 10px;
  };
};

.tabs {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  justify-content: space-around;

  &_item {
    padding: 16px 0px;
    background-color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &.active {
      background-color: $primary-color;
      color: black;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}